source_unc=\\nas\share
source_presentation_letter=N
cache_letter=K
sqlite_path=C:\ProgramData\ssd-cache\cache-index.sqlite3
mode=monitor
copy_delay_seconds=60
compare_hash_before_overwrite=0
min_free_space_mb=6144
ignored_process_patterns=explorer.exe
ignored_path_patterns=~$*;*-wal;*-shm;*-journal
